{% if ('regkeys2022' in check_list or 'all' in check_list) and '-regkeys2022' not in check_list %}
# 2016+ checks
{% if '2022' in ansible_facts.distribution or '2019' in ansible_facts.distribution or '2016' in ansible_facts.distribution %}

$Global:file_stream_output = New-Object System.IO.StreamWriter $LogPath, $true

get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Policies\Explorer:AllowOnlineTips" -segment_name "Windows_Reg_Explorer:AllowOnlineTips"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\Tcpip\Parameters:KeepAliveTime" -segment_name "Windows_Reg_Tcpip:KeepAliveTime"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\Tcpip\Parameters:PerformRouterDiscovery" -segment_name "Windows_Reg_Tcpip:PerformRouterDiscovery"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\TCPIP6\Parameters:TcpMaxDataRetransmissions" -segment_name "Windows_Reg_TCPIP6:TcpMaxDataRetransmissions"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\Tcpip\Parameters:TcpMaxDataRetransmissions" -segment_name "Windows_Reg_Tcpip:TcpMaxDataRetransmissions"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\System:EnableFontProviders" -segment_name "Windows_Reg_System:EnableFontProviders"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\LLTD:AllowLLTDIOOnDomain" -segment_name "Windows_Reg_LLTD:AllowLLTDIOOnDomain"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\LLTD:AllowLLTDIOOnPublicNet" -segment_name "Windows_Reg_LLTD:AllowLLTDIOOnPublicNet"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\LLTD:EnableLLTDIO" -segment_name "Windows_Reg_LLTD:EnableLLTDIO"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\LLTD:ProhibitLLTDIOOnPrivateNet" -segment_name "Windows_Reg_LLTD:ProhibitLLTDIOOnPrivateNet"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\LLTD:AllowRspndrOnDomain" -segment_name "Windows_Reg_LLTD:AllowRspndrOnDomain"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\LLTD:AllowRspndrOnPublicNet" -segment_name "Windows_Reg_LLTD:AllowRspndrOnPublicNet"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\LLTD:EnableRspndr" -segment_name "Windows_Reg_LLTD:EnableRspndr"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\LLTD:ProhibitRspndrOnPrivateNet" -segment_name "Windows_Reg_LLTD:ProhibitRspndrOnPrivateNet"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Peernet:Disabled"  -segment_name "Microsoft_Reg_Peernet:Disabled"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\TCPIP6\Parameters:DisabledComponents" -segment_name "Windows_Reg_TCPIP6:DisabledComponents"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\WCN\Registrars:EnableRegistrars" -segment_name "WCN_Reg_Registrars:EnableRegistrars"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\WCN\Registrars:DisableUPnPRegistrar" -segment_name "WCN_Reg_Registrars:DisableUPnPRegistrar"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\WCN\Registrars:DisableInBand802DOT11Registrar" -segment_name "WCN_Reg_Registrars:DisableInBand802DOT11Registrar"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\WCN\Registrars:DisableFlashConfigRegistrar" -segment_name "WCN_Reg_Registrars:DisableFlashConfigRegistrar"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\WCN\Registrars:DisableWPDRegistrar" -segment_name "WCN_Reg_Registrars:DisableWPDRegistrar"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\WCN\UI:DisableWcnUi" -segment_name "WCN_Reg_UI:DisableWcnUi"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\CurrentVersion\PushNotifications:NoCloudApplicationNotification" -segment_name "Windows_Reg_PushNotifications:NoCloudApplicationNotification"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\DeviceGuard:EnableVirtualizationBasedSecurity" -segment_name "Windows_Reg_DeviceGuard:EnableVirtualizationBasedSecurity"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\DeviceGuard:RequirePlatformSecurityFeatures" -segment_name "Windows_Reg_DeviceGuard:RequirePlatformSecurityFeatures"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\DeviceGuard:HypervisorEnforcedCodeIntegrity" -segment_name "Windows_Reg_DeviceGuard:HypervisorEnforcedCodeIntegrity"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\DeviceGuard:HVCIMATRequired" -segment_name "Windows_Reg_DeviceGuard:HVCIMATRequired"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\DeviceGuard:ConfigureSystemGuardLaunch" -segment_name "Windows_Reg_DeviceGuard:ConfigureSystemGuardLaunch"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\TabletPC:PreventHandwritingDataSharing" -segment_name "Windows_Reg_TabletPC:PreventHandwritingDataSharing"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\HandwritingErrorReports:PreventHandwritingErrorReports" -segment_name "Windows_Reg_HandwritingErrorReports:PreventHandwritingErrorReports"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\Internet Connection Wizard:ExitOnMSICW" -segment_name "Windows_Reg_InternetConnectionWizard:ExitOnMSICW"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows NT\Printers:DisableHTTPPrinting" -segment_name "Windows_Reg_Printers:DisableHTTPPrinting"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\Registration Wizard Control:NoRegistration"  -segment_name "Windows_Reg_RWC:NoRegistration"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\SearchCompanion:DisableContentFileUpdates"  -segment_name "Microsoft_Reg_SearchCompanion:DisableContentFileUpdates"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Policies\Explorer:NoOnlinePrintsWizard" -segment_name "Windows_Reg_Explorer:NoOnlinePrintsWizard"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Policies\Explorer:NoPublishingWizard" -segment_name "Windows_Reg_Explorer:NoPublishingWizard"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Messenger\Client:CEIP" -segment_name "Messenger_Reg_Client:CEIP"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\SQMClient\Windows:CEIPEnable" -segment_name "SQMClient_Reg_Windows:CEIPEnable"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\Windows Error Reporting:Disabled" -segment_name "Windows_Reg_WEP:Disabled"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\PCHealth\ErrorReporting:DoReport" -segment_name "PCHealth_Reg_ErrorReporting:DoReport"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Policies\System\kerberos\parameters:DevicePKInitBehavior" -segment_name "Windows_Reg_Kerberos:DevicePKInitBehavior"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Policies\System\kerberos\parameters:DevicePKInitEnabled" -segment_name "Windows_Reg_Kerberos:DevicePKInitEnabled"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Control Panel\International:BlockUserInputMethodsForSignIn" -segment_name "Microsoft_Reg_CP:BlockUserInputMethodsForSignIn"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\System:AllowCrossDeviceClipboard" -segment_name "Windows_Reg_System:AllowCrossDeviceClipboard"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\System:UploadUserActivities" -segment_name "Windows_Reg_System:UploadUserActivities"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Power\PowerSettings\f15576e8-98b7-4186-b944-eafa664402d9:DCSettingIndex" -segment_name "Windows_Reg_PowerNET:DCSettingIndex"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Power\PowerSettings\f15576e8-98b7-4186-b944-eafa664402d9:ACSettingIndex" -segment_name "Windows_Reg_PowerNET:ACSettingIndex"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\ScriptedDiagnosticsProvider\Policy:DisableQueryRemoteServer" -segment_name "Windows_Reg_SDP:DisableQueryRemoteServer"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\WDI\{9c5a40da-b965-4fc3-8781-88dd50a6299d}:ScenarioExecutionEnabled" -segment_name "Windows_Reg_WDI:ScenarioExecutionEnabled"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\AdvertisingInfo:DisabledByGroupPolicy" -segment_name "Windows_Reg_AdvertisingInfo:DisabledByGroupPolicy"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\W32Time\TimeProviders\NtpServer:Enabled" -segment_name "Windows_Reg_NtpServer:Enabled"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\CurrentVersion\AppModel\StateManager:AllowSharedLocalAppData"  -segment_name "Windows_Reg_StateManager:AllowSharedLocalAppData"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Camera:AllowCamera"  -segment_name "Microsoft_Reg_Camera:AllowCamera"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\CloudContent:DisableCloudOptimizedContent" -segment_name "Windows_Reg_CloudContent:DisableCloudOptimizedContent"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\DataCollection:DisableEnterpriseAuthProxy" -segment_name "Windows_Reg_DataCollection:DisableEnterpriseAuthProxy"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\LocationAndSensors:DisableLocation" -segment_name "Windows_Reg_LocationAndSensors:DisableLocation"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\Messaging:AllowMessageSync" -segment_name "Windows_Reg_Messaging:AllowMessageSync"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows Defender\Spynet:SpynetReporting" -segment_name "Windows_Reg_Spynet:SpynetReporting"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows Defender\Reporting:DisableGenericRePorts" -segment_name "Windows_Reg_Defender:DisableGenericRePorts"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\PushToInstall:DisablePushToInstall" -segment_name "Microsoft_Reg_PushToInstall:DisablePushToInstall"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows NT\Terminal Services:fSingleSessionPerUser" -segment_name "Windows_Reg_TS:fSingleSessionPerUser"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows NT\Terminal Services:EnableUiaRedirection" -segment_name "Windows_Reg_TS:EnableUiaRedirection"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows NT\Terminal Services:fDisableCcm" -segment_name "Windows_Reg_TS:fDisableCcm"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows NT\Terminal Services:fDisableLocationRedir" -segment_name "Windows_Reg_TS:fDisableLocationRedir"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows NT\Terminal Services:fDisableLPT" -segment_name "Windows_Reg_TS:fDisableLPT"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows NT\Terminal Services:fDisablePNPRedir" -segment_name "Windows_Reg_TS:fDisablePNPRedir"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows NT\Terminal Services:fDisableWebAuthn" -segment_name "Windows_Reg_TS:fDisableWebAuthn"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows NT\Terminal Services:MaxIdleTime" -segment_name "Windows_Reg_TS:MaxIdleTime"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows NT\Terminal Services:MaxDisconnectionTime" -segment_name "Windows_Reg_TS:MaxDisconnectionTime"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\Windows Search:AllowCloudSearch" -segment_name "Windows_Reg_WSearch:AllowCloudSearch"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\Windows Search:EnableDynamicContentInWSB" -segment_name "Windows_Reg_WSearch:EnableDynamicContentInWSB"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\WindowsInkWorkspace:AllowSuggestedAppsInWindowsInkWorkspace" -segment_name "Windows_Reg_WIWorkspace:AllowSuggestedAppsInWindowsInkWorkspace"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\WindowsInkWorkspace:AllowWindowsInkWorkspace" -segment_name "Windows_Reg_WIWorkspace:AllowWindowsInkWorkspace"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\Installer:SafeForScripting" -segment_name "Windows_Reg_Installer:SafeForScripting"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\WinRM\Service:AllowAutoConfig" -segment_name "Windows_Reg_Service:AllowAutoConfig"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\WinRM\Service\WinRS:AllowRemoteShellAccess" -segment_name "Windows_Reg_Service:AllowRemoteShellAccess"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows NT\CurrentVersion\Software Protection Platform:NoGenTicket" -segment_name "Windows_Reg_SPP:NoGenTicket"


get-segment_usersregkey -regkey "HKEY_USERS\[USER SID]\Software\Policies\Microsoft\Assistance\Client\1.0:NoImplicitFeedback" -segment_name "Windows_Reg_Users_Client:NoImplicitFeedback"
get-segment_usersregkey -regkey "HKEY_USERS\[USER SID]\SOFTWARE\Policies\Microsoft\Windows\CloudContent:DisableTailoredExperiencesWithDiagnosticData" -segment_name "Windows_Reg_Users_CloudContent:DisableTailoredExperiencesWithDiagnosticData"
get-segment_usersregkey -regkey "HKEY_USERS\[USER SID]\SOFTWARE\Policies\Microsoft\Windows\CloudContent:DisableWindowsSpotlightFeatures" -segment_name "Windows_Reg_Users_CloudContent:DisableWindowsSpotlightFeatures"
get-segment_usersregkey -regkey "HKEY_USERS\[USER SID]\Software\Policies\Microsoft\WindowsMediaPlayer:PreventCodecDownload" -segment_name "Windows_Reg_Users_WMP:PreventCodecDownload"

$Global:file_stream_output.Close()

{% endif %}
{% endif %}


{% if ('regkeys2025' in check_list or 'all' in check_list) and '-regkeys2025' not in check_list %}
# 2025 checks
{% if '2025' in ansible_facts.distribution %}

$Global:file_stream_output = New-Object System.IO.StreamWriter $LogPath, $true

get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\LDAP:LDAPClientConfidentiality" -segment_name "Windows_Reg_LDAP:LDAPClientConfidentiality"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows NT\DNSClient:EnableMDNS" -segment "Windows_Reg_DNSClient:EnableMDNS"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows NT\DNSClient:DisableIPv6DefaultDnsServers" -segment "Windows_Reg_DNSClient:DisableIPv6DefaultDnsServers"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\LanmanServer:AuditClientDoesNotSupportEncryption" -segment "Windows_Reg_LanManS:AuditClientDoesNotSupportEncryption"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\LanmanServer:AuditClientDoesNotSupportSigning" -segment "Windows_Reg_LanManS:AuditClientDoesNotSupportSigning"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\LanmanServer:AuditInsecureGuestLogon" -segment "Windows_Reg_LanManS:AuditInsecureGuestLogon"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\LanmanServer:EnableAuthRateLimiter" -segment "Windows_Reg_LanManS:EnableAuthRateLimiter"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\Bowser:EnableMailslots" -segment "Windows_Reg_Bowser:EnableMailslots"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\LanmanServer:MinSmb2Dialect" -segment "Windows_Reg_LanManS:MinSmb2Dialect"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\LanmanServer:InvalidAuthenticationDelayTimeInMs"  -segment "Windows_Reg_LanManS:InvalidAuthenticationDelayTimeInMs"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\LanmanWorkstation:AuditInsecureGuestLogon" -segment "Windows_Reg_LanManW:AuditInsecureGuestLogon"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\LanmanWorkstation:AuditServerDoesNotSupportEncryption" -segment "Windows_Reg_LanManW:AuditServerDoesNotSupportEncryption"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\LanmanWorkstation:AuditServerDoesNotSupportSigning" -segment "Windows_Reg_LanManW:AuditServerDoesNotSupportSigning"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\NetworkProvider:EnableMailslots" -segment "Windows_Reg_Network:EnableMailslots"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\LanmanWorkstation:MinSmb2Dialect" -segment "Windows_Reg_LanManW:MinSmb2Dialect"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\LanmanWorkstation:RequireEncryption" -segment "Windows_Reg_LanManW:RequireEncryption"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\WcmSvc\GroupPolicy:fBlockNonDomain" -segment "Windows_Reg_GroupPolicy:fBlockNonDomain"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Print:RpcAuthnLevelPrivacyEnabled" -segment "Windows_Reg_Print:RpcAuthnLevelPrivacyEnabled"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows NT\Printers\WPP:WindowsProtectedPrintGroupPolicyState" -segment "Windows_Reg_Printers:WindowsProtectedPrintGroupPolicyState"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\DeviceGuard:LsaCfgFlags" -segment "Windows_Reg_DeviceGuard:LsaCfgFlags"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Netlogon\Parameters:BlockNetbiosDiscovery" -segment "Windows_Reg_Parameters:BlockNetbiosDiscovery"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows NT\Rpc:RestrictRemoteClients" -segment_name "Windows_Reg_Rpc:RestrictRemoteClients"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Policies\System\SAM:SamrChangeUserPasswordApiPolicy" -segment_name "Windows_Reg_SAM:SamrChangeUserPasswordApiPolicy"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\Appx:DisablePerUserUnsignedPackagesByDefault"  -segment_name "Windows_Reg_Appx:DisablePerUserUnsignedPackagesByDefault"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\AppInstaller:EnableLocalArchiveMalwareScanOverride" -segment_name "Windows_Reg_AppInstaller:EnableLocalArchiveMalwareScanOverride"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\AppInstaller:EnableBypassCertificatePinningForMicrosoftStore"  -segment_name "Windows_Reg_AppInstaller:EnableLocalArchiveMalwareScanOverride"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\AppInstaller:EnableWindowsPackageManagerCommandLineInterfaces"  -segment_name "Windows_Reg_AppInstaller:EnableWindowsPackageManagerCommandLineInterfaces"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Policies\Explorer:DisableMotWOnInsecurePathCopy" -segment_name "Windows_Reg_Explorer:DisableMotWOnInsecurePathCopy"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows Defender:HideExclusionsFromLocalUsers"  -segment_name "Windows_Reg_Defender:HideExclusionsFromLocalUsers"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows Defender\Features:PassiveRemediation"  -segment_name "Windows_Reg_Defender:PassiveRemediation"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows Defender\NIS:EnableConvertWarnToBlock"  -segment_name "Windows_Reg_Defender:EnableConvertWarnToBlock"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows Defender\Real-Time Protection:OobeEnableRtpAndSigUpdate" -segment_name "Windows_Reg_Defender:OobeEnableRtpAndSigUpdate"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows Defender\Remediation\Behavioral Network Blocks\Brute Force Protection:BruteForceProtectionAggressiveness" -segment_name "Windows_Reg_BFP:BruteForceProtectionAggressiveness"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows Defender\Remediation\Behavioral Network Blocks\Brute Force Protection:BruteForceProtectionConfiguredState" -segment_name "Windows_Reg_BFP:BruteForceProtectionConfiguredState"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows Defender\Remediation\Behavioral Network Blocks\Remote Encryption Protection:RemoteEncryptionProtectionAggressiveness" -segment_name "Windows_Reg_BFP:RemoteEncryptionProtectionAggressiveness"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows Defender\Scan:QuickScanIncludeExclusions" -segment_name "Windows_Reg_Defender:QuickScanIncludeExclusions"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows Defender\Scan:DaysUntilAggressiveCatchupQuickScan"  -segment_name "Windows_Reg_Defender:DaysUntilAggressiveCatchupQuickScan"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows NT\Terminal Services:SCClipLevel" -segment_name "Windows_Reg_TS:SCClipLevel"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\Software\Policies\Microsoft\Internet Explorer\Feeds:AllowBasicAuthInClear" -segment_name "Windows_Reg_Feeds:AllowBasicAuthInClear"
get-segment_regkey -regkey "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows NT\CurrentVersion\Software Protection Platform:NoGenTicket" -segment_name "Windows_Reg_SPP:NoGenTicket"

$Global:file_stream_output.Close()

{% endif %}
{% endif %}

