---
settings_global:
{# ---------------------------------------------------------------------------------------------------------------------------------------------------------- #}
  - header: '#### <date>'
    command: '/usr/bin/date'
    footer: >
      #### </date>

{# ---------------------------------------------------------------------------------------------------------------------------------------------------------- #}
  - header: '#### <uname_a>'
    command: '/usr/bin/uname -a'
    footer: >
      #### </uname_a>

{# ---------------------------------------------------------------------------------------------------------------------------------------------------------- #}
  - header: '#### <uptime>'
    command: '/usr/bin/uptime'
    footer: >
      #### </uptime>

{# ---------------------------------------------------------------------------------------------------------------------------------------------------------- #}
  - header: '#### <system_serial>'
    become: true
    command: '/bin/cat /sys/devices/virtual/dmi/id/product_serial || /usr/sbin/dmidecode -s system-serial-number || echo "ERR=SN was unreadable!"'
    footer: >
      #### <system_serial>

{# ---------------------------------------------------------------------------------------------------------------------------------------------------------- #}
  - header: '#### <hastatus_sum>'
    become: true
    command: '/opt/VRTSvcs/bin/hastatus -sum'
    footer: >
      #### </hastatus_sum>

{# ---------------------------------------------------------------------------------------------------------------------------------------------------------- #}
  - header: '#### <rpm_vrtsvcs>'
    become: true
    command: '/usr/bin/rpm -qa | /usr/bin/grep -i VRTSvcs || echo "ERR=rpm not present"'
    footer: >
      #### </rpm_vrtsvcs>

{# ---------------------------------------------------------------------------------------------------------------------------------------------------------- #}
  - header: '#### <lltstat_n>'
    become: true
    command: '/sbin/lltstat -n'
    footer: >
      #### </lltstat_n>

{# ---------------------------------------------------------------------------------------------------------------------------------------------------------- #}
  - header: '#### <gabconfig_a>'
    become: true
    command: '/sbin/gabconfig -a'
    footer: >
      #### </gabconfig_a>

{# ---------------------------------------------------------------------------------------------------------------------------------------------------------- #}
  - header: '#### <hagrp_state>'
    become: true
    command: '/opt/VRTSvcs/bin/hagrp -state'
    footer: >
      #### </hagrp_state>

{# ---------------------------------------------------------------------------------------------------------------------------------------------------------- #}
  - header: '#### <hares_state>'
    become: true
    command: '/opt/VRTSvcs/bin/hares -state'
    footer: >
      #### </hares_state>

{# ---------------------------------------------------------------------------------------------------------------------------------------------------------- #}
  - header: '#### <vrtsvcs_log>'
    become: true
    command: '/usr/bin/cat /var/VRTSvcs/log/engine_A.log | /usr/bin/grep -e WARNING -e ERROR'
    footer: >
      #### </vrtsvcs_log>

{# ---------------------------------------------------------------------------------------------------------------------------------------------------------- #}
  - header: '#### <hacf_verify>'
    become: true
    # This command returns zero if the syntax is valid.
    command: '/opt/VRTSvcs/bin/hacf -verify /etc/VRTSvcs/conf/config || /usr/bin/echo "RC!=0"'
    footer: >
      #### </hacf_verify>

{# ---------------------------------------------------------------------------------------------------------------------------------------------------------- #}
  - header: '#### <ifconfig_a>'
    become: true
    command: '/usr/sbin/ifconfig -a'
    footer: >
      #### </ifconfig_a>

{# ---------------------------------------------------------------------------------------------------------------------------------------------------------- #}
  - header: '#### <sysconfig_network_gateway>'
    become: true
    command: '/usr/bin/cat /etc/sysconfig/network | /usr/bin/grep GATEWAY'
    footer: >
      #### </sysconfig_network_gateway>

{# ---------------------------------------------------------------------------------------------------------------------------------------------------------- #}
  - header: '#### <vrtsvcs_conf_routeoptions>'
    become: true
    command: '/usr/bin/cat /etc/VRTSvcs/conf/config/main.cf | /usr/bin/grep RouteOptions'
    footer: >
      #### </vrtsvcs_conf_routeoptions>

{# ---------------------------------------------------------------------------------------------------------------------------------------------------------- #}
  - header: '#### <vxdisk_p_list>'
    become: true
    command: '/usr/sbin/vxdisk -p list'
    footer: >
      #### </vxdisk_p_list>

{# ---------------------------------------------------------------------------------------------------------------------------------------------------------- #}
