---
# delegation_target is localhost - the whole thing runs in the Execution Environment, target endpoint is never touched
- name: Execution block
  delegate_to: "{{ delegation_target }}"
  block:
    - name: Create temp directories
      ansible.builtin.include_tasks: "tasks/role_tasks/create_temp_dirs.yml"
      args:
        apply:
          vars:
            error_msg: compute_conn

    - name: Set satdevicename
      ansible.builtin.set_fact:
        satdevicename: >-
          {{ udc_api_url | default(lookup('env', 'Endpoint_URL')) | replace('https://', '') | regex_replace('/.*$', '') }}

    - name: Preparing runtime facts
      ansible.builtin.set_fact:
        log_file: "{{ satdevicename }}_{{ namebase }}.log"
        out_file: "{{ satdevicename }}_{{ namebase }}.out"
        bundle_file: "Bundle-{{ account_code }}_{{ satdevicename }}_{{ namebase }}-{{ timestamp }}.zip"

    - name: Generate the outputfile from template
      ansible.builtin.template:
        src: "{{ playbook_dir }}/templates/outbase.j2"
        dest: "{{ control_temp_dir }}/{{ out_file }}"
        mode: "0600"
        force: true

    - name: Initialize logfile
      ansible.builtin.copy:
        content: |
          {{ '%Y-%m-%d %H:%M:%S' | strftime }} - DATA COLLECTION ON {{ satdevicename | upper }} STARTED
        dest: "{{ control_temp_dir }}/{{ log_file }}"
        mode: "0600"
        force: true

    - name: Block for gathering data
      environment:
        http_proxy: >-
          {% if hostvars['localhost']['socks_file'] is defined %}socks5h://unixsocket{{ hostvars['localhost']['socks_file'] }}{%
          else %}{% endif %}
        https_proxy: >-
          {% if hostvars['localhost']['socks_file'] is defined %}socks5h://unixsocket{{ hostvars['localhost']['socks_file'] }}{%
          else %}{% endif %}
      block:
        - name: Initialize exec_rc
          ansible.builtin.set_fact:
            exec_rc: 0
            error_on_exec: false
            fatal_on_exec: false

        - name: Gather data
          ansible.builtin.include_tasks: "{{ udc_endpoint }}.yml"
      rescue:
        - name: Include error handling
          ansible.builtin.include_tasks: tasks/error_handling.yml
          args:
            apply:
              vars:
                error_msg: "{{ module_result['return_code'] | default('unexpected_failure') }}"

    - name: Debug routine
      when: udc_debug | default(False) | bool
      ansible.builtin.debug:
        var: module_result

    - name: Data collection finished block
      when: not fatal_on_exec | bool
      block:
        - name: Finalize logfile
          loop:
            - "{{ '%Y-%m-%d %H:%M:%S' | strftime }} - DATA COLLECTION ON {{ satdevicename | upper }} FINISHED \
              {% if error_on_exec is defined and error_on_exec | bool %}WITH ERRORS ({{ exec_rc }}){% else %}SUCCESSFULLY ({{ exec_rc }}){% endif %}"
            - "{{ '%a %b %d %H:%M:%S %Y' | strftime }}: Data collection status: {% if exec_rc != '3' and error_on_exec is defined and error_on_exec | bool %}\
              Failed{% else %}OK{% endif %}"
          ansible.builtin.lineinfile:
            path: "{{ control_temp_dir }}/{{ log_file }}"
            line: "{{ item }}"

        - name: Set udc_collection_result variable
          ansible.builtin.set_fact:
            udc_collection_result: |-
              DATA COLLECTION ON {{ satdevicename | upper }} FINISHED {% if error_on_exec is defined and error_on_exec | bool %}\
              WITH ERRORS ({{ exec_rc }}){% else %}SUCCESSFULLY ({{ exec_rc }}){% endif %}.
              Data collection status: {% if exec_rc != '3' and error_on_exec is defined and error_on_exec | bool %}Failed{% else %}OK{% endif %}

        - name: Compress files into Bundle
          community.general.archive:
            path:
              - "{{ control_temp_dir }}/*"
            exclude_path:
              - "{{ control_temp_dir }}/*.yml"
              - "{{ control_temp_dir }}/*.ps1"
            dest: "{{ control_temp_dir }}/../{{ bundle_file }}"
            mode: "0600"
            format: zip
            remove: true

        - name: Supress the last returncode role task if error_on_exec is true
          when: error_on_exec | bool
          ansible.builtin.set_fact:
            fatal_on_exec: true
  always:
    - name: Delete created directory from the Control Node
      ansible.builtin.file:
        path: "{{ control_temp_dir }}"
        state: absent
