---
- name: Make sure created files are always cleaned up from the endpoint
  block:
    - name: Include fact gathering
      ansible.builtin.include_tasks: "tasks/role_tasks/fact_gathering.yml"
      args:
        apply:
          vars:
            error_msg: compute_conn
            applied_gather_subset: "{{ udc_gather_subset_windows }}"

    - name: Windows prechecks
      ansible.builtin.include_tasks: "tasks/role_tasks/windows_prechecks.yml"

    - name: Create temp directories
      ansible.builtin.include_tasks: "tasks/role_tasks/create_temp_dirs.yml"
      args:
        apply:
          vars:
            error_msg: compute_conn

    - name: Set os_version and policy patterns on each host individually
      ansible.builtin.include_tasks: "tasks/role_tasks/set_os_version_and_policy_patterns.yml"

    - name: Generate the outputfile from template
      ansible.builtin.template:
        src: "{{ playbook_dir }}/templates/outbase.j2"
        dest: "{{ temp_dir }}/{{ out_file }}"
        mode: "0600"
        force: true

    - name: Initialize logfile
      ansible.builtin.copy:
        content: |
          {{ '%Y-%m-%d %H:%M:%S' | strftime }} - DATA COLLECTION ON {{ satdevicename | default(inventory_hostname) | upper }} STARTED
        dest: "{{ temp_dir }}/{{ log_file }}"
        mode: "0600"
        force: true

    - name: Block for gathering data
      block:
        - name: Deploy the script
          ansible.windows.win_copy:
            src: "{{ role_path }}/files/{{ namebase }}/{{ namebase }}.global.ps1"
            dest: "{{ temp_dir }}/{{ namebase }}.global.ps1"

        - name: Unblock the script
          ansible.windows.win_shell: "Get-Item {{ temp_dir }}/{{ namebase }}.global.ps1 | Unblock-File"
          failed_when: false

        - name: Run script using sat.udc.ps_wrapper
          sat.udc.ps_wrapper:
            command: >-
              powershell.exe -NoLogo -File {{ temp_dir }}/{{ namebase }}.global.ps1
              -InventoryName "{{ satdevicename | default(inventory_hostname) }}"
              -NameBase "{{ namebase }}"
              -ExcludeCategory "bestpractice,security"
              -ScriptLocation "{{ temp_dir }}"
          ignore_errors: true
          register: run_result

        - name: Debug routine
          ansible.builtin.debug:
            var: run_result
          when: udc_debug | default(False) | bool

        - name: Set data collection results based on run_result
          ansible.builtin.set_fact:
            exec_rc: "{{ run_result.rc }}"
            error_on_exec: "{{ true if run_result.rc != 0 else false }}"
            fatal_on_exec: "{{ run_result.failed }}"

    - name: Data collection finished block
      block:
        - name: Set udc_collection_result variable
          ansible.builtin.set_fact:
            udc_collection_result: |-
              DATA COLLECTION ON {{ satdevicename | default(inventory_hostname) | upper }} FINISHED {% if error_on_exec is defined and error_on_exec | bool %}\
              WITH ERRORS ({{ exec_rc }}){% else %}SUCCESSFULLY ({{ exec_rc }}){% endif %}.
              Data collection status: {% if exec_rc != '3' and error_on_exec is defined and error_on_exec | bool %}Failed{% else %}OK{% endif %}

        - name: Copy policy files to destination on the Control Node
          ansible.builtin.copy:
            src: "{{ item }}"
            dest: "{{ control_temp_dir }}/{{ item | basename }}"
            mode: "0600"
          delegate_to: localhost
          loop: "{{ policy_files.files | map(attribute='path') | list }}"
          when: policy_files.files[0] is defined

        - name: Register the files to be fetched
          ansible.windows.win_find:
            paths: '{{ temp_dir }}'
            patterns:
              - "*.log"
              - "*.out"
          register: bundle_elements

        - name: Fetch files from Endpoint
          ansible.builtin.fetch:
            src: "{{ temp_dir }}/{{ item | win_basename }}"
            dest: "{{ control_temp_dir }}/{{ item | win_basename }}"
            flat: true
          loop: "{{ bundle_elements.files | map(attribute='path') | list }}"

        - name: Compress files into Bundle
          community.general.archive:
            path:
              - "{{ control_temp_dir }}/*"
            exclude_path:
              - "{{ control_temp_dir }}/*.yml"
              - "{{ control_temp_dir }}/*.ps1"
            dest: "{{ control_temp_dir }}/../{{ bundle_file }}"
            mode: "0600"
            format: zip
            remove: true
          delegate_to: localhost
  always:
    - name: Delete created directory from the Endpoint
      ansible.windows.win_file:
        path: "{{ temp_dir }}"
        state: absent
    - name: Delete created directory from the Control Node
      ansible.builtin.file:
        path: "{{ control_temp_dir }}"
        state: absent
      delegate_to: localhost
